<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Larry's Lawnmowers - Product</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/Product-Style.css') }}">
  </head>
  <body>
    <div class="mainBox">
        <div class="mainHeaderBox">
            <div class="mainHeaderValue">
                <div class="headerElement">
                    <a href="main">
                        <button class="backButton"><img style="vertical-align:middle" src="{{ url_for('static', filename='images/other-images/back-button.png') }}"></button>
                    </a>
                    <button class="">
                </div>
                <div class="headerElement">
                    <img style="vertical-align:middle" src="{{ url_for('static', filename='images/logo/Larrys_Lawnmowers_Main_Logo.png') }}" alt="Larry's Lawnmower Logo">
                </div>
                <div class="headerElement">
                    <div class="image-text">
                        <a href="shoppingCart">
                            <button class="shoppingCart"><img style="vertical-align:middle" src="{{ url_for('static', filename=finalCartImage) }}" alt="Shopping Cart Icon"></button>
                        </a>                    
                    </div>
                </div>
            </div>
        </div>
        <div class="mainProductBox">
            <div class="mainProductValue">
                <form action="product" method="post">
                    <div class="titleBox"> 
                        <h3 id="ProductText">Item-Name: {{fullproduct.title}}</h3>
                    </div>
                    <div class="imageBox">
                        <img id="ProductImage" src="{{ url_for('static', filename=fullproduct.image) }}" alt="Product Image"><br><br>
                    </div>
                    <div class="descriptionBox">
                        <p id="ProductDescription"><b>Item Description: </b>{{fullproduct.description}}</p><br><br>
                    </div>
                    <div class="environmentBox">
                        <p id="ProductEnvironment"><b>Environmental Impact: </b>{{fullproduct.environment}}</p><br><br>
                    </div>
                    <div class="priceBox">
                        <p id="ProductPrice">{{fullproduct.price}}</p><br><br>
                    </div>
                    <div class="contentButtons">
                        <button class="buyNowButton" type="submit" name="productChoice" value="buy">Buy Now</button>
                        <button class="addBasketButton" type="submit" name="productChoice" value="add">Add To Cart</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="productFooterBox">
            <div class="footer">
                <div class="footer-content">
                    <div class="footer-top">
                        <img class="thomasLogo" style="vertical-align:middle" src="{{ url_for('static', filename='images/peer-artwork/thomas_website_logo.png') }}" alt="Thomas Logo">
                        <img class="joelLogo" style="vertical-align:middle" src="{{ url_for('static', filename='images/peer-artwork/joel_website_logo.png') }}" alt="Joel Logo">
                    </div>
                    <div class="footer-bottom">
                        &copy; Larry's Lawnmowers ¦ Created By Joshua Noble
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>